<ion-content>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-button [routerLink]="['/profesor']"  class="docente" slot="start">
      Docente
    </ion-button>
    <ion-button [routerLink]="['/alumno']"  class="alumno" slot="start">
      Alumno
    </ion-button>
  </div>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="menu">Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Bienvenido a la nueva toma de asistencia
  </ion-content>
</div>
</ion-content>

