<!--<ion-header>
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Recuperar Contraseña</ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-card-content>
    <form [formGroup]="formularioRecuperar">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
    </form>
    <br>
    <ion-button [routerLink]="[' /home']">
      Ingresar
    </ion-button>
  </ion-card-content>
</ion-content>