<ion-content>
  <div class="header">
    <div class="ion-text-center">
      <ion-title class="colortitulo">Registr<span>App</span></ion-title>
    </div>
  </div>

  <ion-card-header class="card-header">
    <ion-card-title class="card-title">Bienvenido/a</ion-card-title>
  </ion-card-header>

  <div class="card1">
    <strong>La nueva forma de pasar asistencia!</strong>
  </div>
  <ion-button [routerLink]="['/login']"  expand="block">
    Iniciar Sesion
  </ion-button>
  <ion-button [routerLink]="['/registro']"  expand="block">
    Registrar
  </ion-button>
</ion-content>